.section__padding {
  padding: 4rem 6rem;
}

.app__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--bg-base);
  background-repeat: no-repeat;
  background-size: cover;
}

.app__wrapper-content {
  width: 100%;
  height: 633px;
  margin: 0 2rem;
  background: rgba(31, 31, 31, .95);
}

.type__button {
  width: 151px;
  height: 44.95px;
  border-radius: 58px;
  border: 0;
  font-family: var(--font-base);
  text-transform: uppercase;
  font-weight: var(--weighted-text);
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.type__button:hover {
  opacity: .9;
}

.headtext {
  font-family: var(--font-base);
  font-weight: var(--weighted-text);
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-base);
  font-weight: var(--weighted-text);
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.paragraph {
  display: flex;
  flex-direction: row;
  gap: .3rem;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-base);
  font-weight: var(--regular-text);
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}



.paragraph span img {
  width: 31px;
}

@media screen and (max-width: 1620px) {
  .subtitle {
    font-size: 18px;
    line-height: 18px;
  }

  .paragraph {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .app__wrapper-content {
    height: 977px;
  }
}

@media screen and (max-width: 990px) {
  .app__wrapper-content {
    width: 836px;
  }
}